.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
.board>div {
    border: 2px solid black;
    display: grid;
    place-items: center ;
}
